@font-face {
  font-family: 'Textile';
  src: url('./fonts/Textile.ttf')
}

html, body, #root {
  height: 100%;
  margin: 0px;
}

.App {
  min-height: 100%;
  background: black;
}

.Header {
  width: 100%;
  height: 10rem;
}

.Scoreboard {
  color: rgb(206, 206, 206);
  font-size: 1.5rem;
  font-family: monospace;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.MainContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.title {
  font-family: 'Textile';
  color: white;
  font-size: 3.5rem;
  height: 8rem;
  padding-top: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.title:hover {
  color: rgb(255, 217, 0);
}

.Card {
  height: 190px;
  width: 180px;
  background: white;
  padding: 17px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 13px;
}

.Card:hover {
  border: 2px solid rgb(0, 0, 0);
  background: rgb(255, 217, 0);
}

.Card:active {
  transform: translateY(0.2rem);
}

img {
  height: 145px;
  width: 145px;
}

.Notice {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-container {
  background:rgb(255, 255, 255);
  height: 330px;
  width: 640px;
  font-size: 4rem;
  font-family: 'Textile';
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.message-container:hover {
  background: black;
  color: white;
}

.message-container > button {
  font-family: monospace;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
}

.message-container > button:hover {
  background: rgb(255, 217, 0);
}

.message-container > button:focus {
  outline: none;
}
